.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media (orientation: portrait) {
  .project-header {
    flex-direction: column;
    align-items: flex-start;
  }
}