.input-small {
    border-radius: 0.625rem;
    width: 50%;
    border-style: none;
    padding: .5rem;
}

.input-big {
    resize: none;
    width: calc(100% - 2rem);
    height: 5rem;
    border-radius: 0.5rem;
    border-style: none;
    padding: 1rem;
}

.small-input-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-label {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

textarea {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

input {
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

button {
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    border-style: none;
    align-self: center;
    border-radius: 1.25rem;
    font-size: 1.5rem;
    font-weight: bold;
    padding: .25rem 1rem .25rem 1rem;
}

button:hover {
    background-color: #FFAAAA;
    color: #24242D;
}

.hcaptcha {
    align-self: center;
}