@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

.navbar {
  font-family: 'Nunito', sans-serif;
  top: 0;
  position: sticky;
  overflow: hidden;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 4rem;
  z-index: 1000;
}

.navbar,
.navbar a,
.navbar img.logo,
.navbar-popup-links {
  transition: all 0.3s ease;
}

.navbar a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 16px;
  text-decoration: none;
  color: #f2f2f2;
}

.navbar a:hover {
  background-color: #f2f2f2;
  color: #1B1B24;
}

.navbar a.left {
  margin: 0;
  padding: 5.75px;
  padding-left: 16px;
}

.navbar a.left:hover {
  background-color: inherit;
}

.navbar a.left:hover img.logo {
  filter: invert(100%) sepia(4%) saturate(188%) hue-rotate(213deg) brightness(115%) contrast(90%) drop-shadow(0 0 10px #FFAAAA);
}

.navbar img.logo {
  height: 2.75rem;
}

.navbar a.left.active img.logo {
  filter: invert(100%) sepia(4%) saturate(188%) hue-rotate(213deg) brightness(115%) contrast(90%);
}

.navbar a.left.active {
  background-color: inherit;
}

.navbar a.active {
  color: #24242D;
  background-color: #FFAAAA;
}

.navbar-links {
  display: flex;
  gap: 0rem;
  align-items: center;
}


.navbar-menu {
  padding: 0;
  padding-right: 16px;
  margin: 0;
}

.navbar-links,
.navbar-menu {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-menu input {
  height: 3.375rem;
}

.menu-button {
  height: 40%;
}

.navbar-popup-links {
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.navbar-popup-links a {
  color: #f2f2f2;
  width: 100%;
  padding: 1.5rem;
  font-size: 1.5rem;
  text-decoration: none;
}

.navbar-popup-links a:hover {
  background-color: #f2f2f2;
  color: #1B1B24;
}

.navbar-pos {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #1B1B24;
  transition: all 0.3s ease;
  z-index: 1000;
}

.navbar-pos.scrolled {
  background-color: rgba(17, 17, 26, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1000;
}