@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

.home-content {
  height: calc(100dvh - 64px);
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  position: relative;
  z-index: -1;
}


.home-content h1,
.home-content h6 {
  margin: 0;
}
