.footer {
  background-color: #1B1B24;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 5px;
  height: 50px;
  display: flex;
  align-items: center;
}

.footer-img {
  height: 20px;
  opacity: 10%;
  transition: all 0.3s ease;
}

.footer-component:hover .footer-img {
  opacity: 100%;
}

.footer-component:hover .footer-link {
  color: white;
}

.footer-component {
  align-items: center;
  display: flex;
  gap: 10px;
}

.footer-link {
  transition: all 0.3s ease;
  text-decoration: none;
  text-align: center;
  color: #33333b;
}