@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root {
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #24242D;

  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-wrap: break-word;
}

a {
  color: #FFAAAA;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body,
html {
  margin: 0;
  padding: 0;
  padding-top: 2rem;
}

body,
header {
  font-family: 'Nunito', sans-serif;
}

.content-body {
  padding: .625rem;
}

.content-body h1,
h2,
p {
  margin: 0;
}

.box a {
  float: right;
  flex-wrap: wrap;
  text-decoration: none;
  font-weight: bold;
  color: #FFAAAA;
}

.box a:hover {
  text-decoration: underline;
}

.box {
  background-color: #1B1B24;
  border-radius: 1rem;
  padding: 1rem;
  margin: .5rem;
}

.box-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.box-grid > .box {
  flex: 1 1 47.5%;
  box-sizing: border-box;
}

.page-layout {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.routes {
  flex: 1;
}

hr {
  border: none;
  height: .25rem;
  background-color: #FFAAAA;
  border-radius: .625rem;
}